//COLORS
$light-green: #E0EAD6;
$dark-green: #3F5031;
$brown: #75695F;
$light-pink: #EFDAEB;
$pink: #af80a6;
$beige: #BDB7B2;
$black: #3f403d;

//FONT-FAMILY:
$custom_headings: novecento-slab-narrow, serif;
$custom_sub-headings: omnes-cond, sans-serif;
$custom_body-text: omnes-cond, sans-serif;