@import "variables";

//COLORS
$theme-colors: (
    "primary": $brown,
    "secondary": $dark-green,
    "tertiary": $light-pink,
    "accent": $light-green,
    "accent2": $pink,
    "neutral": $beige,
    "dark": $black
);

$theme-colors: map-remove(
    $theme-colors, 
    "success", 
    "info", 
    "danger", 
    "warning"
);

//BREAKPOINTS
$container-max-widths: (
  sm: 700px,
  md: 800px,
  lg: 970px,
  xl: 1240px
) !default;

//SPACING
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 5),
  7: ($spacer * 6.5),
  8: ($spacer * 8),
);

//TYPOGRAPHY

html{
    font-size: 10px;
}

body, .site{
    font-family: $custom_body-text;
    font-weight: 400;
    color: $black;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
  
.site-content {
    flex: 1;
}


$font-family-base: 1.6rem;
$font-family-sans-serif: $custom_body-text;
$font-family-monospace:    null;

$h1-font-size: 4rem;
$h2-font-size: 3.8rem;
$h3-font-size: 3rem;
$h4-font-size: 2.8rem;

h1, .h1{
    font-family: $custom_headings;
    color: $brown;
    text-transform: uppercase;
}

h2, .h2{
    font-family: $custom_headings;
    color: $dark-green;
    text-transform: uppercase;
}

h3, .h3{
    font-family: $custom_headings;
    text-transform: uppercase;
    color: $brown;
    letter-spacing: .1rem;
}
h4, .h4{
    font-family: $custom_sub-headings;
    font-weight: 500;
    color: $brown;
}

body, p{
    font-family: $custom_body-text;
    font-weight: 400;
    font-size: 2.1rem;
    color: $black;
}

.search-title{
    font-family: $custom_sub-headings;
    font-weight: 500;
    color: $brown;
    text-transform: capitalize;
    font-size: 3rem;
}

//LOGO
img.logo {
    width: 260px;
    height: 52px;
}

//NAVIGATION
$navbar-light-color: $dark-green;
$navbar-light-hover-color: $light-green;
$navbar-toggler-font-size: 2.5rem;

.nav-link{
        font-size: 2rem;
        display: inline-block;
        margin:0 2rem;
    }

.nav-link a:hover {
    color: $light-green;
}

.navbar-light .navbar-toggler{
    border: none;
}
//HOMEPAGE
h2.widgettitle{
    font-size: 1.3rem;
    font-family: $custom_sub-headings;
    font-style: italic;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    background: white;
    width: 200px;
    padding: 1rem;
    text-align: center;
}

.featured-link{
    width: 250px;
    position: relative;
}

.featured-link-img{
    max-width: 100%;
}

.featured-link-img img{
    object-fit: cover;
    width: 100%;
    height: 250px !important;
}

@media(min-width: 381px){
    .featured-link{
        width: 300px;
    }
    
    .featured-link-img img{
        height: 300px !important;
    }

    h2.widgettitle{
        font-size: 2rem;
    }
}

@media(min-width: 478px){
    .featured-link{
        width: 400px;
    }
    
    .featured-link-img img{
        height: 400px !important;
    }

    h2.widgettitle{
        font-size: 2rem;
        width: 345px;
        padding: 2.3rem;
    }
}


@media(min-width: 698px){
    .featured-link{
        width: 200px;
    }
    
    .featured-link-img img{
        height: 200px !important;
    }

    h2.widgettitle{
        font-size: 1.6rem;
        width: 150px;
        padding: 1rem;
    }
}

@media(min-width: 800px){
    .featured-link{
        width: 260px;
    }
    
    .featured-link-img img{
        height: 260px !important;
    }

    h2.widgettitle{
        font-size: 2rem;
        width: 200px;
    }
}




@media(min-width: 1200px){
    .featured-link{
        width: 325px;
    }
    
    .featured-link-img img{
        height: 325px !important;
    }

    h2.widgettitle{
        font-size: 2rem;
    }
}
.newsletter-info h2{
    text-transform: capitalize;
    font-size: 3,4rem;
}

.newsletter-info{
    padding: 3rem 0;
    border-bottom: 1px solid $brown;
}

.newsletter-form{
    padding: 3rem 0;
}

input#wpforms-72-field_0,
input#wpforms-72-field_0-last,
input#wpforms-72-field_1
 {
    border-radius: 30px;
    height: 30px;
    border: 1px $light-pink solid;
}

.newsletter-form .wpforms-container-full .wpforms-form .wpforms-required-label{
    color: $pink;
}

.newsletter-form .wpforms-container-full .wpforms-form .wpforms-submit-container {
    padding: 10px 0 0 0;
    clear: both;
    position: relative;
    margin-right: 0;
    text-align: right;
}

button#wpforms-submit-72{
    background-color: #af80a6;
    border: 1px solid #ddd;
    color: white;
    font-size: 1.6rem;
    padding: 3px 15px;
    border-radius: 30px;
}



.newsletter-list{
    list-style-type: none;
    padding: 0;
    font-size: 1.6rem;
}

@media(min-width: 768px){
    .newsletter-info h2{
        text-transform: capitalize;
        font-size: 4rem;
    }

    .newsletter-info{
        padding: 0;
        border-bottom: none;
        border-right: 1px solid $brown;
    }
    
    .newsletter-form{
        padding: 0;
    }
}

.recent-post-item{
    width: 325px;
    border: 1px solid rgb(173, 173, 173);
}
.recent-post-image-wrapper{
    max-width: 100%;
}

.recent-post-image-wrapper img{
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.recent-post-info-wrapper p{
    font-size: 1.8rem;
}

@media(min-width:514px){
    .recent-post-item{
        width: 415px;
    }
}

@media(min-width:803px){
    .recent-post-item{
        width: 290px;
    }
}

@media(min-width:1200px){
    .recent-post-item{
        width: 350px;
    }
}

//BLOG
main .blog {
    min-width: 100%;
}
.blog-post-image-wrapper{
    max-width: 100%;
}
.blog-post-image-wrapper img{
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.blog-post-info{
    font-size: 1.6rem;
    color: $dark-green;
}

.blog-post-info > span:not(:last-child) {
    padding-right: 20px;
}

.blog-post-tags a:link,
.blog-post-tags a:visited{
    color: $dark-green;
    text-transform: capitalize;
}

.blog-post-tags a:hover{
    text-decoration: none;
    font-style: italic;
    color: $pink;
}

.blog-pagination{
    font-size: 2rem;

}

.icofont-calendar,
.icofont-tag{
    font-size: 1.8rem;
    color: $brown;
}


.secondary-button span{
    background: $light-pink;
    display: inline-block;
    width: 180px;
    margin-right: 0;
    position: relative;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .2px;
    padding: 3px 20px 3px 80px;
    border-radius: 25px;
    overflow: none;
}

.secondary-button span:before{
    display: inline-block;
    content:'';
    position: absolute;
    height: 2px;
    width: 50px;
    background: $brown;
    top: 14px;
    left: 20px;
}

a.secondary-button:link,
a.secondary-button:visited{
    text-decoration: none;
}

a.secondary-button:link:hover{
    font-style: italic;
    transition: .3s;
}

@media(min-width: 410px){
    .blog-post-image-wrapper img{
        object-fit: cover;
        width: 100%;
        height: 350px;
    }    
}
@media(min-width: 1093px){
    .blog-post-image-wrapper img{
        object-fit: cover;
        width: 100%;
        height: 400px;
    } 
}

//CARDS

$card-cap-bg: none;


.card li{
    list-style: none;
}

.card-header{
    color: $dark-green;
    font-size: 2.2rem;
    text-transform: capitalize;
}

.list-group-item a:link,
.list-group-item a:visited{
    font-size: 1.8rem;
    text-decoration: none;
}

.list-group-item a:hover{
    color: $light-green !important;
}
$badge-font-size: 70%;
$badge-padding-y: 5px;
$badge-padding-x:  5px;

//TAGS PAGE (RECIPE)

a.page-numbers:link,
a.page-numbers:visited {
    color: $dark-green;
    text-decoration: none;
}

.tag-pagination {
    font-size: 2rem;
}

.recipe-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}

.recipe-post-item{
    width: 275px;
    border: 1px solid rgb(173, 173, 173);
}
.recipe-post-image-wrapper{
    max-width: 100%;
}

.recipe-post-image-wrapper img{
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.recipe-post-info-wrapper p{
    font-size: 1.8rem;
}

@media(min-width:385px){
    .rrecipe-post-item{
        width: 340px;
    }
}

@media(min-width:514px){
    .recipe-post-item{
        width: 415px;
    }
}

@media(min-width:600px){
    .recipe-posts {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 600px;
    }

    .recipe-post-item{
        width: 260px;
    }

    .recipe-post-image-wrapper img{
        object-fit: cover;
        width: 100%;
        height: 150px;
    }

    .recipe-post-info-wrapper h3{
        font-size: 2rem;
    }

    .recipe-post-info-wrapper p{
        font-size: 1.5rem;
    }
}

@media(min-width:758px){
    .recipe-posts {
        max-width: 650px;
    }

    .recipe-post-item{
        width: 305px;
    }

    .recipe-post-image-wrapper img{
        height: 200px;
    }
}

@media(min-width:970px){
    .recipe-posts {
        max-width: 900px;
    }

    .recipe-post-item{
        width: 220px;
    }

    .recipe-post-image-wrapper img{
        height: 150px;
    }
}

@media(min-width:993px){
    .recipe-posts {
        max-width: 1200px;
    }
    .recipe-post-item{
        width: 280px;
    }

    .recipe-post-image-wrapper img{
        height: 190px;
    }
}


@media(min-width:1200px){
    .recipe-posts {
        max-width: 1200px;
    }
    .recipe-post-item{
        width: 365px;
    }

    .recipe-post-image-wrapper img{
        height: 230px;
    }
}

//SEARCH 

#searchform{
    font-size: 1.5rem;
}
#searchform label{
    color: $brown;
    text-transform: uppercase;
}

#searchform input#s {
    border: 1px $brown solid;
    color: $brown;
    border-radius: 20px;
    width: 170px;
    padding: 0 5px;
    margin: 0 5px;
}

#searchform #searchsubmit {
    color: $brown;
    background: $light-green;
    border: none;
    border-radius: 30px;
    width: 39px;
}

//CONTACT

.wpforms-field-row.wpforms-field-large {
    display: flex;
    flex-direction: column;
}

div.wpforms-container-full .wpforms-form .wpforms-one-half {
    width: 100%;
    margin-left: 0;
}

.contact-form label{
    color: $brown;
}

div#wpforms-69 {
    background: $light-pink;
    border-radius: 10px;
    width: 270px;
    padding: 2rem;
    margin: 0 auto;
}

div.wpforms-container-full .wpforms-form .wpforms-required-label {
    color: $pink;
    font-weight: 400;
}

input#wpforms-69-field_0,
input#wpforms-69-field_0-last,
input#wpforms-69-field_1{
    border-radius: 20px;
    height: 30px;
    border: 1px $light-pink solid;
}

textarea#wpforms-69-field_2{
    border-radius: 20px;
    border: 1px $light-pink solid;
}

button#wpforms-submit-69 {
    background-color: #af80a6;
    border: 1px solid #ddd;
    color: white;
    font-size: 1.6rem;
    padding: 3px 15px;
    border-radius: 30px;
}

@media(min-width:410px){
    div#wpforms-69 {
        width: 364px;
        padding: 3rem;
    }
}

@media(min-width:553px){
    div#wpforms-69 {
        width: 500px;
        padding: 3rem;
    }

    .wpforms-field-row.wpforms-field-large {
        display: block;
    }
    
    div.wpforms-container-full .wpforms-form .wpforms-one-half {
        width: 48%;
        margin-left: 4%;
    }
}



//FOOTER
.footer{
    height: 40px;
}

//CAROUSEL STYLING 


img.attachment-large.size-large.wp-post-image {
    width: 100%;
    object-fit: cover;
    object-position: center 81%;
}

.slide-image {
    height: 400px;
}
.carousel-caption {
    position: absolute;
    left: unset !important;
    top: 40px;
    right: 3% !important;
    text-align: right !important;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    background: $brown;
    max-height: 120px;
    min-width: 400px;
    border-radius: 5px;
}

.carousel-date {
    text-align: left;
    padding-left: 2rem;
    font-size: 2rem;
    font-family: $custom_sub-headings;
    color: $light-green;
}

h3.carousel-link {
    background: $brown;
    padding: 10px 2rem;
    border-radius: 4px;
    text-align: left;
}

.carousel-link a:link,
.carousel-link a:visited{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 300;
}

@import "../bootstrap/scss/bootstrap.scss";

