@import "variables";

//COLORS
$theme-colors: (
    "primary": $brown,
    "secondary": $dark-green,
    "tertiary": $light-pink,
    "accent": $light-green,
    "neutral": $beige,
    "dark": $black
);

$theme-colors: map-remove(
    $theme-colors, 
    "success", 
    "info", 
    "danger", 
    "warning"
);

//TYPOGRAPHY

html{
    font-size: 10px;
}

body{
    font-family: $custom_body-text;
    font-weight: 400;
    color: $black;
}

$font-family-base: 1.6rem;
$font-family-sans-serif: $custom_body-text;
$font-family-monospace:    null;


$h1-font-size: 5.2rem;
$h2-font-size: 4.6rem;
$h3-font-size: 3.5rem;

h1, .h1{
    font-family: $custom_headings;
    color: $brown;
}

h2, .h2{
    font-family: $custom_headings;
    color: $dark-green;
}

h3, .h3{
    font-family: $custom_sub-headings;
    font-weight: 500;
    color: $brown;
}

p{
    font-family: $custom_body-text;
    font-weight: 400;
    font-size: 2.2rem;
    color: $black;
}

//NAVIGATION
$navbar-light-color: $dark-green;
$navbar-toggler-font-size: 2.5rem;

.nav-link {
        color: $dark-green;
        font-size: 2rem;
        display: inline-block;
        margin:0 2rem;
    }

.navbar-light .navbar-toggler{
    border: none;
}


@import "../bootstrap/scss/bootstrap.scss";

